/* .scorer-row {
  margin-bottom: 10px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

label {
  margin-right: 10px;
}

input, select {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  margin-top: 10px;
} */